./_packs/
_bin/
_build/
./_tmp/
db/
iolang/
tests/_packs/AFakePack/_packs
tests/_packs/CFakePack/_build
tests/_packs/CFakePack/source/IoCFakePackInit.c
./tests/deleteme
./tests/installer
.transaction_lock
__install_path
docs
