<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all" charset="utf-8"/>
    <link rel="stylesheet" href="css/text.css"  type="text/css" media="all" charset="utf-8"/>
    <link rel="stylesheet" href="css/main.css"  type="text/css" media="all" charset="utf-8"/>
    <link rel="icon" type="image/png" href="images/favicon.png" />
  </head>
  <body>
    <div id="sidebar">
      <h1><a href="/">Eerie: Package Manager for Io</a></h1>
      {% include menu.html %}
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div class="clear"></div>
    {% include footer.html %}
    {% include analytics.html %}
    <script type="text/javascript" charset="utf-8">
      (function () {
        var menuItem = document.getElementById("category_{{ page.category }}");
        if(menuItem)
          menuItem.className = "active";
      })()
    </script>
  </body>
</html>